.slidercontainer{
  display: grid;
  place-items: center;
}
.card2{
  height: 250px;
  width: 650px;
  border: 1px  solid rgba(0, 0, 0, 0.242);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 85px;
  border-radius: 10px;
  display: flex;
}
.cardimg{
   width: 100px;
   height: 100px;
   background-color: antiquewhite;

   border-radius: 120px;
   margin-bottom: 100px;
}
.cardimage{
  width: 150px;
  display: grid;
  place-items: center;
  background-color: rgb(241,246,247);
}
.namee{
  color: black;
  font-family: sans-serif;

  width: 260px;
  border-width: 0.5px;
  border-color: rgba(107, 121, 121, 0.267);
  border-style: solid;
}
.na{
  display: grid;
  place-items: center;
  font-size: 18px;
  margin: 0px;
}
.expdiv{
  margin: 0px;
  display: grid;
  place-items: center; 
  border-bottom: 1px  solid rgba(0, 0, 0, 0.242);
  
}
.exp{
  margin: 0px;
  font-family: sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.646);
  margin-bottom: 10px;
}
.botcont{
  display: grid;
  place-items: center;
}
.loc{
  color: rgba(0, 0, 0, 0.269);
  font-size: 15px;
  margin-left: 7px;
}
.bottext{
  display: flex;
}
.btn{
display: grid;
place-items: center;
 width: 250
}
.book{
  color: aliceblue;
  margin-left: 40px;
  height: 40px;
  width: 150px;
  font-family: sans-serif;
  font-weight: 300;
  background-color: rgb(23,85,104);
  border-radius: 5px;
  font-size: 10px;
}
.cardcont{
  display: flex;
}
.nav{
  background-color: rgb(23,85,104);
  height: 80px;
  display: flex;
}
.logo{
  height: 150px;
  margin: 0px;
}
.left{
  margin: 0px;
}
.sec{
  display: flex;
}
.aboutimage{
  width: 500px;
  margin: 60px;
}
.abouttext{
 margin-top: 80px;
  font-size: 30px; 
}
.abouttext2{
  margin-left: 65px;

}
.logo{
  margin: 0px;
  margin-top: -65px;
  height: 220px;
}
.right{
  display: flex;
}
.navtext{
  color: aliceblue;
  font-weight: 400;
  font-size: larger;
  margin: 18px;
  font-weight: bold;
  
}
.nav{
  justify-content: space-between;
}
.rightcomp{
  margin-right: 15px;
  margin-top: 7px;
}
.rightcomp:hover{
  background-color: rgb(18, 68, 83);
  cursor: pointer;

}
.rightcomp:active{
  background-color: rgb(13, 50, 61);
  cursor: pointer;
  
}
.footer{
  background-color: rgb(42,42,42);
  margin-bottom: 0px;
}
.handles{
  height: 30px;
  width: 30px;
  margin: 10px;
  margin-top: 30px;
}
.socials{
  margin-left: 95px;
display: flex;
}
.handles:hover{
  height: 35px;
  width: 35px;
}
.foottext{
  margin-left: 95px;
  margin-right: 95px;
}
.ftext{
  font-size: 22px;
  color: rgba(255, 255, 255, 0.651);

}
.bottom{
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.737);
  margin: 0px;
}
.email{
  color: aliceblue;
}